<div class="navbar">
  <div class="navbar-logo">
    <a routerLink="/home">
      <img ngSrc="/favicon.ico" alt="bleble." height="512" width="512">
    </a>
  </div>

  <div class="navbar-navigation">
    <app-navlink
      label="Figurki"
      iconPosition="left"
      path="/minifig/minifig-list"
      iconStyle="filled"
      icon="person"/>

    <app-navlink
      label="Koszyk"
      iconPosition="left"
      path="/cart"
      iconStyle="filled"
      icon="shopping_bag"/>
  </div>

  <div class="navbar-user">
    <app-user/>
  </div>
</div>
