$dzelapino-void: #000000;
$dzelapino-black: #1B1212;
$dzelapino-white: #FAF9F6;
$dzelapino-gray: #B9B4C7;
$dzelapino-blue: #6495ED;
$dzelapino-daedric-blue: #7DF9FF;
$dzelapino-red: #DC143C;
$dzelapino-pink: #DA70D6;
$dzelapino-green: #93C572;
$dzelapino-toxic: #33FF57;
$dzelapino-yellow: #F4C430;
