@use "sizing" as s;

@mixin flex-layout($direction) {
  display: flex;
  flex-direction: $direction;
  gap: s.$default-spacing-value;
  align-items: center;
}

@mixin handy-size-only {
  @media (max-width: s.$handy-width) {
    @content;
  }
}
