$app-max-width: 1600px;

$larger-spacing-value: 1rem;
$default-spacing-value: 0.5rem;
$smaller-spacing-value: 0.3rem;
$default-border-radius: 25px;
$default-border-size: 3px;
$default-long-button-width: min(50%, 200px);
$default-small-button-width: 50px;
$default-button-height: 50px;

$font-size-huge: 2.5rem;
$font-size-larger: 1.6rem;
$font-size-medium: 1.2rem;
$font-size-normal: 1rem;
$font-size-small: 0.8rem;

$transform-scale-size-larger: 1.3;
