@use '../../../styles/colors' as c;
@use '../../../styles/layout' as l;
@use '../../../styles/sizing' as s;
@use '../../../styles/lapino' as la;

h2.mat-mdc-dialog-title {
  @include la.text-parallax;
  @include l.flex-layout(row);

  padding: s.$default-spacing-value;
  justify-content: center;
}

div.mat-mdc-dialog-content.mdc-dialog__content {
  @include l.flex-layout(column);

  padding: s.$default-spacing-value;
  gap: s.$default-spacing-value;

  > input.mat-mdc-input-element {
    background: c.$dzelapino-void;
    color: c.$dzelapino-pink;
    font-weight: bold;
    border: none;
    font-size: s.$font-size-medium;
    border-radius: s.$default-border-radius;
    text-align: center;
    padding: s.$default-spacing-value s.$larger-spacing-value;
  }
}

div.mat-mdc-dialog-actions {
  justify-content: center;
  gap: s.$default-spacing-value;
  padding: s.$default-spacing-value;
}

p.login-dialog__error-message {
  color: c.$dzelapino-red;
  font-weight: bold;
}
